{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        .img{
            width: 100%;
            align-content: center;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container">

    <h1 class="mt-5 mb-4">Pylint and Glossary Terms</h1>

    <div class="row" style="border-top: 2px solid black">
        <div class="col-sm-12">
            <h2 class="mt-3">What is Pylint ?</h2>
            <p>
                Pylint is a tool that checks for errors in Python code,
                tries to enforce a coding standard and looks for code smells.
                It can also look for certain type errors,
                it can recommend suggestions about how particular blocks can be refactored and can offer you
                details about the code's complexity.
            </p>
        </div>
    </div>
</div>

<div class="container" style="border-top: 2px solid black">
    <div class="row mt-3">
        <div class="col-sm-6">
            <h3>Glossary Terms</h3>
            <p>
            <ul>
            <li>Factory Method: it is a creational design pattern which solves the problem of creating product objects
                without specifying their concrete classes.</li>
            <li>Instantiation: The creation of an instance of a class.</li>
            <li>Object: A unique instance of a data structure that's defined by its class.
                An object comprises both data members (class variables and instance variables) and methods.</li>
            <li>Class: A user-defined prototype for an object that defines a set of attributes that characterize any object of the class.
                The attributes are data members (class variables and instance variables) and methods,
                accessed via dot notation.</li>
            <li>Constructor: Code that is executed each time an instance of the class is created.</li>
            <li>Static class: Class that cannot be instantiated, so no objects can be created from the class. The class members are instead accessed using the class name.
                A static class provides a shortcut to the members of the class when instancing is unwarranted.</li>
            </ul>
        </div>

        <div class="col-sm-6">
            <p>
                <ul>
                    <li>Methods: Operations (or actions) that objects perform or operations which are performed to an object.
                        Sometimes referred to as behaviors.
                    </li>
                    <li>Namespace: A namespace is a system that has a unique name for each and every object in Python. An object might be a variable or a method.</li>
                    <li>Fixture: Fixtures define the steps and data that constitute the arrange phase of a test (see Anatomy of a test).</li>
                    <li>Type Hint: Type hinting is a formal solution to statically indicate the type of a value within your Python code.</li>
                    <li>Type Cast: Type casting is a method used to change the variables/ values declared in a certain data type into a different data type to match the operation required to be performed by the code</li>
                    <li>Facade: Facade is a structural design pattern that provides a simplified (but limited) interface to a complex system of classes, library or framework.</li>
                    <li>Property: The property() method in Python provides an interface to instance attributes</li>
                </ul>
        </div>
    </div>

</div>
{% endblock %}